@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.WelcomePage{
    @include flex-column{
        align-items: center;
        justify-content: center;
    }
    height:100vh;
    width: 100vw;

    &__ani{
        z-index: 2;
        animation: welcomeset 2s 2s forwards;

        @keyframes welcomeset {
            0%{
                transform: translateY(0);
            }
    
            100%{
                transform: translateY(-45%);
            }
        }
    }

    &__container{
        @include flex-row{
            align-items: center;
            justify-content: center;
        }
        position: absolute;
        height:100%;
        width: 100%;
        opacity: 0;
        animation: welcome 2s 1s forwards;

        @keyframes welcome {
            0%{
                opacity: 0;
                background:$background-color-orangeflower ;
            }
    
            100%{
                opacity: 1;
                background:$background-color-orangeflower ;
            }
        }
    }

    &__form{
        @include flex-column;
        transform: translateY(35%);
        background-color: $white;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
        width: 80%;
        padding:1rem;
        opacity: 0;
        animation:loadform 1s 3s forwards;

        @keyframes loadform {
            0%{
                opacity: 0;
                transform: translateY(45%) scale(0.9);
            }

            100%{
                z-index: 2;
                opacity: 1;
                transform: translateY(35%) scale(1);
            }
        }

    }

    &__form-title{
        margin-bottom: 2rem;
    }

    &__form-label{
        margin-bottom: 0.5rem;
        height:3.5rem;
    }
    
    &__form-message{
        @include flex-row{
            align-items: center;
        }

        &-icon{
            width: 0.75rem;
            height: 0.75rem;
        }

        &-text{
            @include small-body-text;
            margin-left: 0.25rem;
            color:$support-color-red;
        }

    }

    &__input{
        @include formfield;

        &--error{
            @include formfield-error;
        }

    }

    &__text{
        text-align: end;
    }

    &__btn-container{
        @include flex-row{
            justify-content: space-between;
            gap:1rem;
        }

        @include tablet{
            justify-content: flex-end;
        }
    }

    &__signup-btn, &__login-btn{
        @include button;
        width: 10rem;
        height:3rem;
        margin-top: 1.5rem;
    }


    &__signup-btn{
        @include button-secondary;
        text-decoration: none;
        padding:0.75rem;

        @include tablet{
            padding:0.45rem 1.5rem;
        }
    }

    &__login-btn{
        @include button-cta;
    }
}