@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.RecommendationPage{
    position: relative;
    height: 100vh;
    

    &__image{
        position: relative;
        height:65vh;
        margin:2.5% auto;
        width: 95%;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
        overflow: hidden;

        
        &-wrapper,&-wrapper-2{
            position: absolute;
            cursor: pointer;
            height:100%;
            width: 100%;

            &:before{
                position: absolute;
                height:100%;
                width: 100%;
                content: "";
                background: $support-color-shadow-black;

            }
        }
        &-wrapper-2{
            animation: swipe-left1 1.2s forwards;

            @keyframes swipe-left {
                0%{
                    transform: translateX(0);
                }
                100%{
                    transform: translateX(-120%) rotateZ(-15deg);
                    
                }
            }
        }

        &-wrapper--like{
            animation: swipe-right 1.2s forwards;

            @keyframes swipe-right {
                0%{
                    transform: translateX(0);
                }
                100%{
                    transform: translateX(120%) rotateZ(15deg);
                    
                }
            }
        }
    
        &-text{
            position: absolute;
            width: 100%;
            bottom:0.5rem;
            padding-left: 1.5rem;
            
            
        }
    
        &-title{
            color: $white;
    
        }
    
        &-distance{
            color: $white;
        }


        &-image{
            height: 100%;
            width: 100%;
            
        }
        
    }

    

    &__button-container{
        @include flex-row{
            justify-content: space-around;
            align-items: center;
        }
        width: 95%;
        height:35vh;
        padding-bottom: 6rem;
        margin:0 auto;
    }

    &__button{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        border:none;
        background-color: $white;
        box-shadow: $sunfloew-shadow;
        cursor: pointer;

        &-icon{
            width: 2.5rem;
            height: 2.5rem;
            
        }
    }

}