@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.ProfilePage{
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;

    &__booking{
        position: relative;
        width: 100%;
        border-radius: $card-radius;
        border-radius: $card-radius;
        height: auto;
        

        &--expand{
            overflow: hidden;
            animation: loadbookings 1s;

            @keyframes loadbookings {
                0%{
                    max-height:10rem;
                }
                100%{
                    max-height:110vh;
                }
            }
        }

        &-remove-icon{
            @include loadblock;
            position: fixed;
            z-index: 2;
            right:0;
            margin: 0.25rem 2rem;
            cursor: pointer;
            animation: loadblock 0.5s;
        }

        &-container, &-placeholder{
            position: relative;
            border-radius: $card-radius;
            background-color: $white;
            overflow: hidden;
            height: 10rem;
            border-radius: $card-radius;
            margin-bottom: 1rem;
            
            &::before{
                position: absolute;
                content: "";
                background-color: $support-color-background-black;
                z-index: 1;
                height:100%;
                width: 100%;
            } 
        }


        &-placeholder{
            margin-bottom: 0 ;

            &::before{
                background: none;
            } 

            &-title{
                position: relative;
                margin: 1rem 1rem;
                z-index: 2;
            }

            &-animate{
                position: relative;
                z-index: 2;
            }

            &-text{
                @include medium-body-text;
                position: relative;
                text-align: center;
                z-index: 2;
                color:$secondary-color-gold;
            }
        }

        &-title{
            position: absolute;
            top:0;
            margin: 1rem 1rem;
            z-index: 1;
            color: $white;

        }

        &-subtitle,&-text{
            @include medium-body-text;
            position: absolute;
            margin: 0.5rem 1rem;
            z-index: 1;
            color: $white;
        }

        &-subtitle{
            bottom:1rem;
            margin-bottom:1rem;
        }

        &-text{
            bottom:0;
        }
        
        &-image{
            width: 100%;
            transform: translateY(-25%);
        }

        &-cancel{
            @include button;
            @include button-cta;
            @include loadblock;
            position: absolute;
            margin: 0.5rem 1rem;
            width: 4rem;
            height:2rem;
            padding: 0;
            bottom:0;
            right:0;
            z-index: 1;
            animation: loadblock 0.3s;
        }
    }

    &__contact{
        @include flex-column{
            justify-content: space-between;
        }
        @include loadblock;
        border-radius: $card-radius;
        background-color: $white;
        margin-top: 1rem;
        padding:1rem;
        box-shadow: $card-shadow;
        opacity: 0;
        animation: loadblock 0.3s 0.1s forwards;

        &-container{
            @include flex-row{
                justify-content: space-between;
                align-items:baseline;
            }
            margin:0.25rem 0;
        }

        &-text{
            @include medium-body-text;
        }

    }

    &__add-prefer{
        @include loadblock;
        width: 100%;
        margin:0.5rem 0;
        padding:1rem;
        background: $white;
        box-shadow: $card-shadow;
        animation: loadblock 0.8s;

    
        &-title{
            margin-bottom: 1rem;     
        }

        &-submit{
            @include button;
            @include button-cta;
            width: 2.5rem;
            height:1.5rem;
            padding:0 0.5rem;
        }

        &-container{
            
            @include flex-row{
                justify-content: center;
                flex-wrap: wrap;
                gap:1rem;
            }

        }

        &-btn{
            @include tag;
            @include secondary-tag;
            cursor: pointer;
        }
    }

    &__preference{
        @include loadblock;
        @include flex-row{
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        border-radius: $card-radius;
        background-color: $white;
        margin-top: 1rem;
        padding:1rem;
        box-shadow: $card-shadow;
        opacity: 0;
        animation: loadblock 0.5s 0.3s forwards;

        &-add{
            margin-left: auto;
            border:none;
            background: none;
            cursor: pointer;
        }

        &-btn-container{
            @include flex-row{
                justify-content: center;
                flex-wrap: wrap;
                gap:0.7rem;
            }
            width:100%;
            margin-top: 1rem;
            &:last-child{
                margin-right: auto;
            }
        }


        &-btn{
            @include tag;
            cursor: pointer;
        }
    }

    &__logout{
        @include loadblock;
        @include button;
        @include button-cta;
        margin-top:1rem;
        margin-bottom: 1rem;
        opacity: 0;
        animation: loadblock 0.5s 0.5s forwards;
    }

    
    
}