@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.ProfilePage{
    @include flex-column;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;

    &__logout{
        @include block-zoom-in;
        @include button;
        @include button-cta;
        margin-top:1rem;
        margin-bottom: 1rem;
        opacity: 0;
        animation: block-zoom-in 0.5s 0.7s forwards;

        @include tablet{
            margin-left: auto;
        }
    }
}