@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.TopHeader{
    @include flex-row{
        justify-content: center;
    }
    position: sticky;
    top:0;
    z-index: 1;
    padding:1rem 0 0.5rem;
    
    &__icon{
        margin-left: 0.5rem;
        width: 1.5rem;
    }

    &__text{
        color:$secondary-color-gold;
        font-weight: $weight-regular;
    }
}

