@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.TopHeader{
    @include flex-column;
    position: sticky;
    top:0;
    width: 95%;
    margin: 0 auto;

    &__header{
        @include flex-row{
            justify-content: center;
        }
        z-index: 1;
        padding:1rem 0 0.5rem;
        
        &__icon{
            margin-left: 0.5rem;
            width: 1.5rem;
            cursor: pointer;
        }

        &-text{
            @include flex-column{
                align-items: center;
            }
        }
    
        &-title{
            color:$secondary-color-gold;

            &--loading{
                color: $secondary-color-gold;
            }
        }

        &-subtitle{
            @include medium-body-text;
            color: $secondary-color-cloud;
        }
    }
    

    &__body{
        @include block-zoom-in;
        position: relative;
        background-color: white;
        box-shadow: $card-shadow;
        border-radius: $card-radius;
        animation: block-zoom-in 0.5s;
        padding:1rem;
        
        &-close-btn{
            position: absolute;
            right:1rem;
            top:1.25rem;
        }

        &-title{
            margin-bottom: 0.5rem;
        }
        &-subtitle{
            color: $secondary-color-gold;
        }
    }

    &__form{
        position: relative;

        &-icon{
            position: absolute;
            top:0.5rem;
            left:0.5rem;
            cursor: pointer;
        }

        &-input{
            @include formfield;
            padding-left:2.25rem;

            &--invalid{
                @include formfield-error;
            }
        }

        &-message{
            @include medium-body-text;
            color: $support-color-red;
        }

        &-submit{
            @include button;
            @include button-cta;
            margin-top: 1rem;
        }
    }
}

