@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.contact{
    @include flex-column{
        justify-content: space-between;
    }
    @include block-zoom-in;
    border-radius: $card-radius;
    background-color: $white;
    margin-top: 1rem;
    padding:1rem;
    box-shadow: $card-shadow;
    opacity: 0;
    animation: block-zoom-in 0.3s 0.2s forwards;

    &__container{
        @include flex-row{
            justify-content: space-between;
            align-items:baseline;
        }
        margin:0.25rem 0;
    }

    &__text{
        @include medium-body-text;
    }

}
