@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.RestaurantDetail{
    position: fixed;
    background-color: $support-color-background-black;
    height: 100vh;
    width: 100vw;
    z-index: 2;

    &__container{
        background-color: $white;
        height: 100vh;
        width: 100%;
        margin: 2rem auto 0 ;
        border-radius: $card-radius;
        overflow: hidden;
        animation: detail-loading 0.5s;

        @keyframes detail-loading {
            0%{
                transform:translateY(100%);
            }
    
            100%{
                transform:translateY(0%);
            }
        }
    }

    &__container--close{
        animation: detail-closing 0.5s;

        @keyframes detail-closing {
            0%{
                transform:translateY(0);
            }
    
            100%{
                transform:translateY(100%);
            }
        }
    }

    &__image-container{
        position: relative;
        width: 100%;
        height:25%;
        overflow: hidden;

        &::before{
            position: absolute;
            content: "";
            background-color: $support-color-background-black;
            z-index: 1;
            height:100%;
            width: 100%;
        }
    }

    &__back-btn{
        position: absolute;
        right:1rem;
        top:0.5rem;
        background: none;
        border:none;
        z-index: 1;
        cursor: pointer;
    }

    &__image{
        width: 100%;
        transform: translateY(-25%);
    }

    &__text-container{
        @include flex-column;
        position: relative;
        transform: translateY(-10px);
        border-radius: $card-radius;
        height:70%;
        background-color: white;
        padding:0.5rem 1rem;
        z-index: 2;
    }

    &__category-container{
        @include flex-row{
            gap:0.5rem;
            flex-wrap: wrap;
        }
    }

    &__category{
        @include medium-body-text;
        color:$primary-color-sunflower;
    }

    &__phone-btn{
        position: absolute;
        right:1rem;
        border:2px solid $secondary-color-cloud;
        background:none;
        width: 2.5rem;
        height:2.5rem;
        border-radius: 5rem;
        
    }

    &__name{
        margin:0;
    }

    &__address{
        @include medium-body-text;
        font-weight: $weight-semi;
        color:$secondary-color-gold;
    }

    &__distance{
        @include medium-body-text;
        color:$secondary-color-gold;
        margin-left: 1rem;
    }

    &__book-btn{
        @include button;
        @include button-cta;
        margin-top: auto;
    }
    
}