@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.booking{
    @include flex-column{
            gap:1rem;
    }
    position: relative;
    width: 100%;
    border-radius: $card-radius;
    border-radius: $card-radius;
    height: auto;
    

    &--expand{
        @include expand-block;
        overflow: hidden;
        animation: expand-block 1s;
    }

    &__container, &__placeholder{
        position: relative;
        border-radius: $card-radius;
        background-color: $white;
        overflow: hidden;
        height: 10rem;
        border-radius: $card-radius;

        @include tablet{
            height:15rem;
        }
        
        &::before{
            position: absolute;
            content: "";
            background-color: $support-color-background-black;
            z-index: 1;
            height:100%;
            width: 100%;
        } 
    }

    &__header{
        @include flex-row{
            justify-content: space-between;
        }
        margin: 1rem;
        position: relative;
        z-index: 1;

        @include tablet{
            margin:1.5rem;
        }

        &-title{
            color: $white;
        }

        &-remove-icon, &-add-icon{
            @include block-zoom-in;
            cursor: pointer;
            animation: block-zoom-in 0.5s;
            margin-right: 0.5rem;
        }
    }

    &__subtitle,&__text{
        @include medium-body-text;
        position: absolute;
        margin: 0.5rem 1rem;
        z-index: 1;
        color: $white;

        @include tablet{
            margin-left:1.5rem;
        }
    }

    &__subtitle{
        bottom:1rem;
        margin-bottom:1rem;
    }

    &__text{
        bottom:0;
    }
    
    &__image{
        width: 100%;
        transform: translateY(-25%);
    }

    &__placeholder{
        margin-bottom: 0 ;

        &::before{
            background: none;
        } 

        &-title{
            position: relative;
            margin: 1rem 1rem;
            z-index: 2;
        }

        &-animate{
            position: relative;
            z-index: 2;
        }

        &-text{
            @include medium-body-text;
            position: relative;
            text-align: center;
            z-index: 2;
            color:$secondary-color-gold;
        }
    }

    &__action-btn-container{
        @include flex-row{
            gap:0.5rem;
        }
        position: absolute;
        margin: 0.5rem 1rem;
        padding: 0;
        bottom:0;
        right:0;
        z-index: 1;

        @include tablet{
            margin-right:1.5rem;
        }
    }

    &__remove-btn{
        @include button;
        @include button-secondary;
        @include block-zoom-in;
        width: 5rem;
        animation: block-zoom-in 0.3s;
    }

    &__detail-btn{
        @include button;
        @include button-cta;
        width: 5rem;
    }

    
}