@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.RestaurantPage{
    position: relative;
    max-width: 100vw;
    overflow: hidden;

    &--popup{
        position: fixed; 
    }
}