@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.NavBar{
    @include flex-row{
        justify-content: space-around;
    }
    position: fixed;
    z-index: 10;
    width: 95%;
    left: 2.5%;
    bottom: 2.5%;
    background-color: $white; 
    box-shadow: $card-shadow;
    border-radius: 0.5rem;
    padding:0.5rem;
    

    &__item{
        @include flex-column{
            align-items: center;
        }
        text-decoration: none;
        width: 6rem;
        padding:0.5rem 1.2rem;
        cursor: pointer;

        &--selected{
            position: relative;
            border-radius: 5rem;
            z-index: 1;

            &::after{
                background-color: $primary-color-sunflower;
                border-radius: 5rem;
                position: absolute;
                top:0;
                z-index: -1;
                content: "";
                width: 6rem;
                height:100%;
                animation: selected 0.4s forwards;
            }

            @keyframes selected {
                0%{
                    width: 0;
                    transform: translateY(10px);
                }
                100%{
                    width: 6rem;
                    transform: translateY(0);
                }
            }
        }
    }

    &__icon{
        width: 1.2rem;
        height:1.2rem;

        &--selected{
            fill: $white;
        }
    }

    &__text{
        @include small-body-text;

        &--selected{
            color: $white;
        }
    }

}