@use './colors' as *;
@use './variables' as *;
@use './typographys' as *;
@use './spacings' as *;

//spacing mixins

@mixin tablet {
    @media (min-width:$tablet-size) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:$desktop-size) {
        @content;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    @content;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    @content;
}

@mixin wrapper-sidespace {
    margin:$mobile-block-sidespace;

    @include tablet {
        margin:$tablet-block-sidespace;
    }

    @include desktop {
        margin: $normal-block-sidespace;
    }
}

//typography mixins
@mixin medium-body-text{
    font-weight: $weight-regular;
    font-size: $mobile-m-body-font;
    line-height: $mobile-m-body-line-height;

    @include tablet{
    font-size: $normal-m-body-font;
    line-height: $normal-m-body-line-height;
    }
}

@mixin small-body-text{
    font-weight: $weight-regular;
    font-size: $mobile-s-body-font;
    line-height: $mobile-s-body-line-height;

    @include tablet{
    font-size: $normal-s-body-font;
    line-height: $normal-s-body-line-height;
    }
}

//elements mixins

@mixin element-body {
    position: relative;
    top:-4rem;
    background-color: $white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 0.1875rem;

    @include tablet{
        top:-5.5rem;
    }
}

@mixin element-block{
    padding:$normal-space;

    @include tablet{
        padding: $normal-space $medium-space;

    }
}

@mixin button {
    font-size: $mobile-label-btn-link-font;
    font-weight: $weight-semi;
    line-height: $mobile-label-btn-link-line-height;
    text-align: center;
    height: 2.25rem;
    width: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border-style: none;

    &:hover {
        cursor: pointer;
    }

    @include tablet {
        font-size: $normal-label-btn-link-font;
        line-height: $normal-label-btn-link-line-height;
        height: 2.375rem;
        width: auto;
    }
} 
@mixin button-secondary{
    background-color: rgba(255,255,255,0.1);
    border:2px solid $primary-color-sunflower;;
    color: $primary-color-sunflower;

    &:hover{
        background-color: $primary-color-sunflower;
        color:$white;
        transition: 0.5s;
    }
}

@mixin button-cta{
    background-color: $primary-color-sunflower;
    color:$white;
}

@mixin button-warning {
    background-color: $support-color-red;
    color:$white
}


@mixin formfield {
    border-radius: 0.5rem;
    border: 2px solid $secondary-color-cloud;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: $white;
    font-size: $mobile-m-body-font;
    line-height: $mobile-m-body-line-height;
    color: $primary-color-black;

    &::placeholder {
        color:$secondary-color-gold
    }

    &:focus{
        outline:none;
        border:2px solid $primary-color-sunflower;
    }

    
    @include tablet {
        font-size: $normal-m-body-font;
        line-height: $normal-m-body-line-height;
    }
}

@mixin formfield-error {
    border:2px solid $support-color-red;
}

@mixin tag{
    width: 6.5rem;
    padding:0.5rem;
    border-radius: 5rem;
    border:none;
    color: white;
    background-color: $primary-color-sunflower;
    font-size: $mobile-label-btn-link-font;
    font-weight: $weight-regular;
    line-height: $mobile-label-btn-link-line-height;

    @include tablet {
        font-size: $normal-label-btn-link-font;
        line-height: $normal-label-btn-link-line-height;
    }
}

@mixin secondary-tag{
    color:$primary-color-sunflower;
    border:2px solid $primary-color-sunflower;
    background-color: $white;

    &:hover{
        color: white;
        background-color: $primary-color-sunflower;
        transition: 0.8s;
    }
}

@mixin loadingcard{

    @keyframes loadingcard {
        0% {
            opacity: 0;
            width: 0;
        }
        50% {
            opacity: 1;
            width: 100%;
            left:0;
        }
        100%{
            opacity: 0;
            left:95%;

        }
    }
}

@mixin block-zoom-in {
    @keyframes block-zoom-in {
        0%{
            opacity: 0;
            transform: scale(0.8);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
}

@mixin expand-block {

    @keyframes expand-block {
        0%{
            max-height:10rem;
        }
        100%{
            max-height:110vh;
        }
    }
}