@use './colors' as *;

//screen size
$desktop-size:1280px;
$tablet-size:767px;
$mobile-size:320px;


//divider
$divider: 1px solid $secondary-color-cloud;

//border-radius
$card-radius: 0.25rem;

//shadow
$card-shadow: 0px 4px 20px rgba(46, 43, 15, 0.105);
$sunfloew-shadow: 0px 4px 20px rgba(255, 226, 4, 0.262);
